body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("./images.jpg");
}
h1{
    color: #8a2be2;
    user-select: none;
}
form{
    margin-left: 18em;
    margin-right: 18em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
form > input{
    padding: 0.4em;
    color: blueviolet;
    border: 1px solid blueviolet;
}
form > input:hover{
    border: 2px solid blueviolet;
    padding: 0.6em;
}
form > button {
    padding: 0.5em;
    width: 8em;
    border: 1px solid chartreuse;
    color: chartreuse;
    font-size: 1em;
}
form > button:hover{
    padding: 1em;
    border: 3px solid chartreuse;
    cursor: pointer;
}
form > a {
    text-decoration: none;
    color: #d94343;
    font-size: 1.1em;
}
@media only screen and (max-width: 450px)
{
    form{
        margin: 2em;
    }
}